.background_video{
  width:100%;
  display:none;
}

.playVideo{
  width: 100%;
  position: absolute;
  top: 240px;
  z-index: 999;
}

.video_other_source{
  position: absolute;
  top:2%;
  left:2%;
  color:#000000;
  z-index:999;
  cursor: pointer;
  /*timer*/
  -webkit-transition: all 220ms cubic-bezier(.25,.8,.25,1);
  -moz-transition: all 220ms ease-in-out;
  transition: all 220ms ease-in-out;
}
.video_other_source a{
  color:#000000;
  font-size: 40px;
  padding-right: 36px;
  opacity: 0.3;
  /*timer*/
  transition: all 220ms ease-in-out;
}

.video_other_source a:hover{
  opacity: 0.9;
  color:#000000;
}

#bgvDiv button{
  position: absolute;
  top:2%;
  right:2%;
  font-size:22px;
  color:#fff;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 6px;
  padding-left:6px;
  background-color:black;
  opacity: 0.2;
  border:none;
  z-index:999;
  cursor: pointer;
  /*timer*/
  transition: all 220ms ease-in-out;
}

#bgvDiv button:hover{
  opacity: 0.7;
}

#bgv {
  width:100%;
}


#playVidBtn{
  width:100px;
  height:100px;
  background-color:black;
  opacity: 0.7;
  border:none;
  border-radius: 115px;
  color:#fff;
  padding-top: 2px;
  padding-left: 9px;
  font-size: 32px;
  cursor: pointer;
  /*timer*/
  transition: all 220ms ease-in-out;
}

#playVidBtn:hover{
  background-color: #3da763;
  opacity: 1;
  box-shadow: 0px 0px 30px 0px rgba(61,168,101,0.75);
}


#bgv source {
  width:100%;

}
@media screen and (min-width: 1921px){

  .playVideo{
    top:270px;
  }
  #playVidBtn{
    width: 100px;
    height: 100px;
    padding-top: 3px;
    padding-left: 10px;
  }

  #playVidBtn i{
    font-size: 36px;
  }

  .background_video {
    height:100%;
  }

  #bgvDiv button{
    right:16%;
  }

}

@media screen and (max-width: 1440px){
  .playVideo{
    top:120px;
  }
}

@media screen and (min-width: 2561px){
  .playVideo{
    top: 900px;
  }

  #playVidBtn{
    width: 150px;
    height: 150px;
  }

  #playVidBtn i{
    font-size: 40px;
  }
}



@media screen and (max-width: 600px){

  .playVideo{
    top: -16px;
  }

  #playVidBtn{
    margin-left: 10px;
    margin-top: 10px;
    width: 90px;
    height: 90px;
    padding-top: 0px;
    padding-left: 11px;
    font-size: 32px;
  }

}
